body{
    margin: 0;
    padding:0px;
    display: grid;
    grid-template-areas: 'header header header'
                        'nav nav nav'
                         'editable flat reach'
                         'video video video'
                         'imagens imagens imagens'
                         'footer footer footer'
                        'final final final';
    grid-template-rows: 1vh 91vh 40vh 60vh 60vh 15vh 10vh;
}

h1{
    font-family: 'Pacifico', cursive;
    color: white;
    margin: 13px;
    font-weight: normal;
    font-size: 40pt;
    margin-left: 280px;
    margin-top:  150px;

}
.ponto{
color: rgb(76, 219, 76);
}
p{
    margin: 5px;
    color: white;
    margin-left: 280px;
    font-family: 'Roboto Slab', sans-serif;
    font-size: 16px;
}
header{
    grid-area: header;
    background-color: rgb(76, 219, 76);
}
.editable, .flat, .reach{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding: 10px;

}

.ic1 {
    background-color: rgb(32, 179, 32);
    border-radius: 50%;
    width: 80px;
    height: 80px;
    overflow: hidden;
    position: relative;
    align-items: center;
    display: flex;
    justify-content: center;
  }

 .editable p, .flat p, .reach p{
     color: gray;
     margin: 3px;
 }


 .editable h3, .flat h3, .reach h3{
    font-family: 'Open Sans', sans-serif;
 }
.editable{
    grid-area: editable;
}

.flat{
    grid-area: flat;
}

.reach{
    grid-area: reach;
}
nav{
    grid-area: nav;
    background-image: url(imagens/banner.png);
    display: flex;
    justify-content: space-evenly;

}
.Titulo{
    flex-direction: column;
    display: flex;

}
.Titulo h2, .Titulo p{
    justify-content: flex-start;
}
.Titulo img{
  width: 30px;
  height: 30px;

}
.icnav{
    padding: 280px;
    justify-content:center;
    padding-top: 25px;
    display: flex;
    align-items: center;
    margin-left: auto;
}
.icon1{
    background-color: black;
    opacity: 0.7;
    border-radius: 100px;
    height: 50px;
    width: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    
}
h1 p .icon1{

}
.icon1:hover{
    background-color: rgb(32, 179, 32);
    color: rgb(32, 179, 32);

}
nav img{
    width: 500px;
    height: 500px;
    padding: 97px;
}

.video{
    grid-area: video;
    background-color: lightgray;
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    font-family: 'Open Sans', sans-serif;
}
.texto-video p{

    font-size: 15px;
}
input[type=text]{ 	
    height: 40px;
    width: 300px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
}
input[type=button]{ 	
    height: 50px;
    width: 100px;
    font-family: 'Open Sans', sans-serif;
    border-radius: 10px;
    background-color: rgb(76, 219, 76);
    color: white;
}

.imagens{
    grid-area: imagens;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 40px;
}
.pessoas img{
    width: 40px;
    height: 40px;
}

.texto p{
    font-family: 'Roboto', sans-serif;
    color: #dbd7d7;
    font-size: 15px;
}
.texto2 p{
    font-size: 12px;
}
.texto, .texto2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.texto p, .texto2 p, .video p{
    color: gray;
    margin: 3px;
}

.imagem-video img{
    border-radius: 10px;
}

footer{
    grid-area: footer;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}
footer a{
    text-decoration: none;
    color: gray;
    padding: 15px;
    font-family: 'Montserrat', sans-serif;
    font-size: 15px;
}
.final{
    grid-area: final;
}
